.category {
    display: flex;
    flex-direction: column;
    background-color: #191919; 
}

.category section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category h1 {
    font-size: 3rem;
    padding-block: 10px;
}