.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-top: 2px solid #f44336;
    font-size: 2rem;
}